*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: Roboto, Raleway, sans-serif;
  color: #434455;
  background-color: rgb(255, 255, 255);
}
a {
  text-decoration: none;
}
.container {
 max-width: 1158px;
  padding: 0 15px;
margin: auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}

.logo {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  cursor: auto;
  padding: 24px 0;
  margin-right: 76px;
}
span {
  color: #2e2f42;
  font-weight: 700;

}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container{
display: flex;
align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.list-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
.addr-line {
  display: flex;
  align-items: center;
  gap: 40px;
}
.list-nav-link:first-child:active {
  text-decoration: underline;
}

.menu {
  display: block;
  cursor: auto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #2e2f42;
  padding: 24px 0;
}

.menu:hover {
  color: #404bbf;
}

.addr {
  font-style: normal;
  margin-left: auto;
}

.addr-line-info {
  display: block;
  padding: 24px 0;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.addr-line-info:hover,
.addr-line-info:focus {
  color: #404bbf;
}

.effect {
  background-color: #2e2f42;
}
.effect-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;

  color: #fff;
}
.effect-btn {
  font-family: 'Roboto', sans-serif;
  background-color: #4d5ae5;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.effect-btn:hover,
.effect-btn:focus {
  background-color: #404bbf;
  color: #fff;
  font-weight: 500;
}

.section-two-list-title {
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.section-two-list-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
}

.team {
  background-color: #f4f4fd;
}

.section-title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
}

.team-list {
  background-color: #ffffff;
}

.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
footer {
  background-color: #2e2f42;
}

.foot-logo {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  cursor: auto;
}

.foot-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.span-logo {
  color: #f4f4fd;
}
